/* BASE VARIABLES
 *******************/

/* Sizes */
$width: 100%;
$width-outer: $width;

/* Colors */
$text: #333;
$links: #333;
$hover: #E9C96F;

$bg: #FFF;

$bg2: #0F0B23;

/* Fonts */
$main: sans-serif;

/* Borders */
$border: 1px solid #000;