body {
	background: $bg;
	margin: 0;
	padding: 0;
	min-width: $width-outer;
}
#page {	
	width: $width;
	padding: 0;
	margin: 0 auto;
}
#main {
	clear: both;
	.attachment-Banner{
		width: 100%;
	}
}
#primary {
	margin: 0 auto;
	max-width: 1200px;	
	.contactForm{
		width: 70%;
		margin: 0 auto;
		padding-bottom: 50px;
	}
	article{

	}
}

#content {
	margin: 0;
	width: 100%;
	float: left;
}
#primary.full-width,
#primary.full-width #content {
	width: 100%;
	float: none;
}

#colophon {
	clear: both;
	overflow: hidden;
}

.post{
	padding-bottom: 20px;
	margin: 0;
	.theImage{
		width: 50%;
		float: left;
		padding-right: 20px;
		img{
			transition: all 0.5s;
		}
	}
	.theContent{
		width: 50%;
		display: inline-block;
		float: left;
		span{
			padding: 0px 10px;
		}
		h2{
			text-align: left;
		}
	}


}

.post:hover{
	img{
		opacity: 0.8;
	}
}


/* Sticky footer */
// @include sticky-footer(50px, '#page','#main','#colophon');


//contact page


#form{
	display: inline-block;
	width: 45%;
	margin-right: 5%;
	float: left;
	.entry-content{
		padding: 0;
		h1{
			font-size: 30px;
			margin-bottom: 20px;

		}
	}

}
.contactImage{
	width: 50%;
	float: left;
}

