@media all and (max-width: 1200px){
	#copyright a[rel="nofollow"]{
		display: none;
	}
	
}

@media all and (max-width: 890px){
	.aboutPage{
		max-width: 610px;
		margin-bottom: 0px;
		padding-bottom: 100px;
		
	}
}

@media all and (max-width: 850px) {

	#nav-below{
		width: 90%;
	}

	section.contactImage{
		display: block;
		img{
			display: none;
		}
	}

	#primary .contactForm{
		width: 80%;
		margin: 0 auto;
		#form{
			display: block;
			width: 100%;
		}
	}
	#site-header{
		background-size: auto 100px;
		background-position-x: 100px;
		background-position-y: 40px;
		height: 150px;
		li{
			font-size: 15px;
			
		}
		#access ul li:nth-child(3) a {
			padding: 40px 20px;
			position: absolute;
			top: 35px;
			right: 135px;
		}
	}

#access ul li a{
				margin: 70px 0;
				font-size: 15px;
			}

#access .menu-main-navigation-container{
	width: 75%;
	float: right;
}

.widget-area aside{
		width: 100%;
		padding: 20px;
	}


	#colophon .left{
		width: 100%;
		float: none;
		text-align: center;
		padding: 40px 0 10px 0;


	}
	
	#colophon .right{
		width: 100%;
		text-align: center;
		span{
			margin: 10px;
		}
		nav {
			padding: 0;
		}
	}
}

@media all and (max-width: 730px){
	.aboutPage{
		padding-bottom: 100px;
		.box{
			width: 100%;
		}

	}
	.aboutPage img{
		display: none;
	}

	.archive-header{
		text-align: center;
		padding-bottom: 20px;
	}

	.post .theImage{
		display: block;
		margin: 0 auto;
		float: none;
	}

	.post .theContent{
		display: block;
		float: none;
		margin: 0 auto;

	}

	.post .theContent h2{
		text-align: center;
	}

	.blog h2{
		font-size: 20px;
	}
	
	

	.blog h3{
		text-align: center;
		font-size: 14px;
	}

	.post {
		h3{
			text-align: center;
			font-size: 14px;
		}
		
}
	

}

@media all and (max-width: 600px){

	#site-header{
		height: 130px;
		background-position-y: 20px;
		background-position-x: 320px;
	}

	


	#access ul li{
		width: 100%;
	}

	#access ul li a{
				padding: 5px;
				margin: 0;
			}
	

	
}

@media all and (max-width 560px){
	.aboutPage{
		overflow: hidden;
	}
}

@media all and (max-width: 380px){
	#site-header{
		height: 130px;
		background-position-y: 20px;
		background-position-x: 220px;
	}

	

	


	

	
}
