#access {
	margin: 0;
	div {
		float: left;
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	ul {
		clear: left;
		float: left;
		position: relative;
		left: 50%;
		padding-left: 0;
		margin: 0 !important;
		list-style: none;
		li {
			position: relative;
			display: block;
			float: left;
			position: relative;
			right: 50%;
			font-family: 'Josefin Sans', sans-serif;
			text-transform: uppercase;
			font-size: 20px;
			a {
				letter-spacing: 0.15em;
				display: block;
				padding: 15px;
				margin: 140px 0;
				text-decoration: none;
				cursor: pointer;
				transition: all 0.5s;
				:hover {
					color: $hover;
				}
			}
			
		}
		li:nth-child(3) a {
			margin: 0;
			padding: 140px 100px;
			color: transparent;
		}
		
		
		
	}
	
}

#xnav-below{
	padding-bottom: 50px;
}