.wp-post-image{
	width: 100%;
}

.blog{
	.singlePost{
		width: 80%;
		margin: 0 auto;
	}

	.blogdata{
		text-align: center;
		font-size: 16px;
		margin-bottom: 50px;
		span{
			padding: 0 25px;
		}
	}
	h2{
		text-align: center;
		font-size: 26px;
		font-weight: 700;
	}
	p{
		line-height: 1.8;
		padding-bottom: 20px;
	}
}

.entry-title,
.entry-title a {
	clear: both;
	color: $links;
	line-height: 1em;
	padding-bottom: 0.5em;
}
.entry-meta {
	clear: both;
}
.entry-date {
	color: LINKCOLOR;
	font-size: 11px;
	padding-bottom: 2px;
}

/* Handle sticky posts */
.sticky {	
}


